.header{
    background-color: rgb(58, 46, 46);
    color: white;
}
.flexheader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: white;
}
.in{
    border:none;
    border-bottom: 1px solid rgb(46, 45, 45);
    outline: none;
    width: 100%;
    
}
.con {
   width:fit-content;
}
.subdiv{
    height: 70px;
    margin-top: 3px;
   
}
.sub{
    height: 50px;
    width: 300px;
    border-radius: 10px;
}
.formheader{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}