.haven{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 5px;

   font-family: 'Times New Roman', Times, serif;
   font-size: 2rem;
   height: 30px;
}

.apply{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
}

.aspire{
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
button{
   
    height: fit-content;
    color:white;
    background-color: rgb(219, 188, 13);
    outline: none;
    border: none;
    border-radius: 30px;
    margin: 0%;
    padding: 0%;
   
}
.apply{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}